<!DOCTYPE html>
<html id="dashboard" lang="en">
    <head>
    <meta charset="utf-8">
    <title>MTB KSU</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="/node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <link rel="stylesheet" href="/tippy.js@6.3.7/animations/scale.css">
    <script src="/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="/tippy.js@6.3.7/dist/tippy-bundle.umd.js"></script>
    <script src="/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="/tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
</head>
<body id="dash-body">
    <%- include('./partials/header') %>

    <div class="dash-container">
        <div class="dash-body">
            <%- include('./partials/dash-sidebar') %>
            <div class="dash-board">
                <div class="dash-board__container">
                    <button v-on:click="deleteItem('<%- item.number %>')" class="dash-board__delete-button">
                        Видалити
                    </button>
                    <a v-bind:href="<%= item.number %> + '/edit/'" href="#" class="dash-board__edit">Редагувати</a>
                    <ul class="dash-board__list">
                        <li class="dash-board__item">
                            <h3 class="dash-board__label">
                                Номер:
                            </h3>
                            <div class="dash-board__value">
                                <%= item.number %>
                            </div>
                        </li>
                        <li class="dash-board__item">
                            <h3 class="dash-board__label">
                                Поверх:
                            </h3>
                            <div class="dash-board__value">
                                <%= item.floor %>
                            </div>
                        </li>
                        <li class="dash-board__item">
                            <h3 class="dash-board__label">
                                Кількість місць:
                            </h3>
                            <div class="dash-board__value">
                                <%= item.capacity %>
                            </div>
                        </li>
                        <li class="dash-board__item">
                            <h3 class="dash-board__label">
                                Факультет:
                            </h3>
                            <div class="dash-board__value">
                                <%= item.faculty %>
                            </div>
                        </li>
                        <li class="dash-board__item">
                            <h3 class="dash-board__label">
                                Тип:
                            </h3>
                            <div class="dash-board__value">
                                <%= item.type %>
                            </div>
                        </li>
                        <li class="dash-board__item">
                            <h3 class="dash-board__label">
                                Опис:
                            </h3>
                            <div class="dash-board__value">
                                <%= item.description %>
                            </div>
                        </li>
                        <li class="dash-board__item">
                            <h3 class="dash-board__label">
                                Асистент
                            </h3> 
                            <div class="dash-board__value">
                                <%= item.assistant %>
                            </div>
                        </li>
                        <li v-show="false" class="dash-board__item">
                            <h3 class="dash-board__label">
                                Кафедра:
                            </h3>
                            <div class="dash-board__value">
                                <%= item.pulpits %>
                                <%= item.pulpits[0] %>
                            </div>
                        </li>
                        <% if(item.photo_links.length > 0){ %>
                            <li class="dash-board__images">
                                <h3 class="dash-board__label">
                                    Зображення:
                                </h3>
                                <ul class="dash-board__images-list">
                                    <% for (var i = 0; i < item.photo_links.length; i++) { %>
                                        <li class="dash-board__image-item">
                                            <img src="/images/<%= item.photo_links[i] %>" alt="" srcset="">
                                        </li>
                                    <% } %>
                                    
                                </ul> 
                            </li>
                        <% }%>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>

    <script>
        const item = '<%- item %>';
        console.log(item);
    </script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/js/auth.js"></script>
    <script src="/js/view-room.js"></script>
</body>
</html>